.img {
    width: 230px;
}
 
.enc {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.enc_content {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    margin: 2px;
    padding: 2px;
    border: 2px solid black;
    
}

.title {
    width: 140px;
    font-size: 14px;
    font-weight: bold;
}

.a {
    font-size: 18px; 
}

.b {
    background-color: rgba(0, 255, 0, 0.3);
}

.c {
    background-color: rgba(255, 2, 2, 0.3);
}

.key {
    margin: 5px;
    padding: 5px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.bloknot {
    display: flex;
    border: 2px solid black;
    width: 100%;
    min-height: 50px;
    font-size: 20px;
    font-weight: 700;
}
.bloknotNone {
    display: none;
}
