*{
    box-sizing: border-box;
}
a, p, h1, h2, h3, h4, h5, h6{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    
    margin: 0px;    
}

.count-p{
    display: flex;
    color: black;
    font-family: monospace;
    font-size: 45px;
    margin: 20px 20px;
}
.count-p span{
    font-family: monospace;
}

.count button{
    padding: 10px 40px;
    font-size: 25px;
    text-transform: uppercase;
    background: #3dc832;
    border: 0px;
    border-radius: 15px;
    color: white;
}

